
    .photo{
        height: 220px;
        width: 220px;
        border-radius : 50%;
        border-color: black;
        
        

    }

   .aa{
    display: flex;
    height: 100vh;
    
    
   }
   

.left{
    background: #93aead;
    
}
.right{
    margin-left: 1%;
    background-color:white;
    
}
.name{
    font-size: x-large;
    border-radius: 50%;
}

body{ margin: auto; width: 50%;}